<% include part_agenda_head %>
<div id="header">
    <div id="open-button">
        <img src="/img/crest.png">
    </div>
    <h3 id="open-history" ><%= date %></h3>
</div>
<div class="snap-drawers">
    <div class="snap-drawer snap-drawer-left">
        <div>
            <h3>Positions</h3>
            <div id="positions">
                <ul id="position-list">
                    <% for (var key in Positions){ %>
                        <% include part_position %>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <div class="snap-drawer snap-drawer-right">
        <div>
            <h3>History</h3>
            <div id="positions">
                <ul id="history-list">
                    <% History.forEach(function(meeting){ %>
                        <li class="history-li">
                            <a href="<%= meeting.href %>"><%= meeting.name %></a>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content" class="snap-content">
    <div class=" col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 ">
            <h1>Reports</h1>
            <% Reports.forEach(function(report){ %>
                <% include part_report %>
            <% }) %>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
            <div class="hidden-md hidden-lg line" ></div>
            <h1>Old Business</h1>
                <% News.forEach(function(topic){ %>
                    <% if( topic.old == "off" ){ %>
                        <% include part_topic %>
                    <% } %>
                <% }) %>
            <div class="clearfix" ></div>
            <div class="line" ></div>
            <h1>New Business</h1>
                <% News.forEach(function(topic){ %>
                    <% if( topic.old == "on" ){ %>
                        <% include part_topic %>
                    <% } %>
                <% }) %>
        </div>
    </div>
    <div id="navigation" class="col-xs-12 col-md-12" 
         style="text-align:center;
                color:purple;
                margin-top:15px;
                margin-bottom:15px;">
        <div id="navigation-last" class="col-xs-6 col-md-3">
            <h3>
                <a href="<%= History[1].href %>">&lt;-Last</a>
            </h3>
        </div>
        <div id="navigation-next" class="col-xs-6 visible-sm visible-xs">
            <h3>
                <a href="<%= History[0].href %>">Next-&gt;</a>
            <h3>
        </div>
        <div id="navigation-wiki" class="col-xs-6 col-md-3">
            <h3>
                <a href="http://delta.khk.org/wiki">Wiki</a>
            </h3>
        </div>
        <div id="navigation-last" class="col-xs-6 col-md-3">
            <h3>
                <a href="/">Current</a>
            </h3>
        </div>
        <div id="navigation-next" class="hidden-sm hidden-xs col-md-3">
            <h3>
                <a href="<%= History[0].href %>">Next-&gt;</a>
            </h3>
        </div>
    </div>
    <div class="footer col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 col-sm-12 col-xs-12">
        <img src="/img/footer.png">
    </div>
</div>

<% include part_foot %>
